{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        .red{
            color: orangered;
        }
    </style>
  
</head>
<body>

    <div class="d-flex justify-content-center">
        <br>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="text-danger" role="alert">
            <span>{{ error }}</span>
        </div>
        {% endfor %}
        {% endif %}
        
    </div>
    <div class="d-flex justify-content-center ">
        <div class="bg-light p-5 rounded shadow">
            
            
            <form action="" method="post" novalidate  >
                
                {% csrf_token %}


                <div class="form-group ">
                    <div >
                        <h3>Login Here</h3>


                       <div class="mt-2"> 
                       <!-- <span>  {{ form.username.label_tag }}  </span>  -->
                        {{ form.username }}
                       
                    <div  style="height: 22px;">

                        {% for error in form.username.errors %}
                        <small class="red" role="">
                            {{ error }}
                        </small>
                        {% endfor %}
                    </div>
                </div>
                            
                    </div>

                    <div style="position: relative; " >
                        <span onclick="f()" style="position: absolute; margin-top: 6px ;margin-right: 10px; right: 0;"><img width="15px" src="{% static '/img/hide.png' %}" alt=""></span>
                        <div  class="">
                            <!-- <span>{{ form.password.label_tag }} </span>  -->
                            {{ form.password }}
                
                            <div style="height: 2px;">

                                {% for error in form.password.errors %}
                                <small class="red"  role="">
                                    {{ error }}
                                </small>
                                {% endfor %}
                            </div>
                                
                            </div>
                            

                    </div>
                </div> 
                
            
                <button class="btn btn-success mt-4"  type="submit">Login Now</button>
            </form>
            


            
            
            <a  href="{% url 'sign_up' %}">Create a new account</a>   
            <a class="red" href="{% url 'pass_reset' %}">Recover Password ?</a>

        </div>
    </div>

    <script>
    
        function f(){
            let user=document.getElementById('id_password')
            if (user.type =='text'){
                user.type = 'password';
            }
            else{
                user.type = 'text';
            }

        }

    </script>
</body>
</html>