<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Enter new password</h2>
     Please enter your new password twice so we can verify you typed it in correctly.
    <form action="" method="post">
        {% csrf_token %}

        <!-- {{form}} -->
        Your password can’t be too similar to your other personal information. <br>
        Your password must contain at least 8 characters. <br>
        Your password can’t be a commonly used password. <br>
        Your password can’t be entirely numeric. <br> 
         <p>
             {{form.new_password1.label_tag}}
        </p> 
        {{form.new_password1}}
        <br>
        
        <p>
            {{form.new_password2.label_tag}} 
        </p>
        {{form.new_password2}}
       <br>
       <br>
       
       <div>
           
           <button type="submit">Reset</button>
    </div>
    </form>
</body>
</html>